//-  Copyright 2020 HCL Technologies Ltd.
//-  Licensed under the Apache License, Version 2.0 (the "License");
//-  you may not use this file except in compliance with the License.
//-  You may obtain a copy of the License at
//-
//-    http://www.apache.org/licenses/LICENSE-2.0
//-
//-  Unless required by applicable law or agreed to in writing, software
//-  distributed under the License is distributed on an "AS IS" BASIS,
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-  See the License for the specific language governing permissions and
//-  limitations under the License.

html
  head
    title Demo: OAuth Enabled Web App
    //- style(type="text/css").
  body
    h1 Hello, #{session.user.sub}!
    a(href="/logout") logout

    h2 Incoming messages:
    table(border="1")
      thead
        tr
          th From
          th To
          th(width="50%") Message
      tbody
        each doc in docs
          tr
            th #{doc.from}
            th #{doc.to}
            th #{doc.message}

    h2 Write a new message:
    form(action="/send" method="post")
      label(for="to") To:
      br
      input(type="text", name="to")
      br
      label(for="message") Message:
      br
      textarea(name="message", cols="100", rows="5")
      br
      input(type="submit", value="Submit")
