{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["header", "import"],
  "rules": {
    "max-len": ["error", { "code": 80, "ignoreStrings": true}],
    "function-paren-newline": ["error", "consistent"],
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": ["error", { "consistent": true }]
  }
}
